:root {
  --color-primary: #0070f3;
  --color-secondary: #1a1a1a;
  --color-background: #f0f0f0;
  --color-text: #333333;
  --color-border: #eaeaea;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--color-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: relative;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-primary);
}

/* Links */
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
}

.nav-links li a:hover {
  background-color: var(--color-primary);
  color: var(--color-border);
}

/* Burger */
.burger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  body {
    margin: 0 0 0 0;
  }
  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 70px; /* under navbar */
    right: 0;
    width: 100%;
    height: 100vh;
    box-shadow: -2px 0 5px rgba(0,0,0,0.05);
  }

  .nav-links.show {
    display: flex;
  }

  .logo {
    margin: 0 auto;
  }

  .nav-links li {
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
    height: 100px;
  }

  .nav-links li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  .burger svg {
    position: absolute;
    width: 30px;
    height: 30px;
    color: var(--color-text);
  }
}
