@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Press+Start+2P&family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --color-primary: #495e57;   /* Dark green */
  --color-secondary: #f4ce14; /* Lemon yellow */
  --color-accent: #ee9972;    /* Light orange */
  --color-background: #edefee; /* Light grey */
  --color-text: #333333;
  --color-text-white: #edefee;     /* Dark grey for text */
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--color-background);
  color:var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Navbar --------------------------------------*/
.navbar {
  height: 70px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

/* Logo */
.logo-image {
  width: 200px;
  height: 50px;
  object-fit: cover;
}

/* Links */
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
}

.nav-links li a:hover {
  background-color: var(--color-primary);
  color: var(--color-text-white);
}

/* Burger */
.burger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}
.shop-cart svg {
  width: 200px;
  height: 30px;
  color: var(--color-text);
}
.shop-cart svg:hover {
  color: var(--color-primary);
  cursor: pointer ;
}


/*Header --------------------------------------*/
.header{
  position: relative;
  height: 100vh;
  font-family: "roboto slab";
}
.header h1{
  font-size: 70px;
  color: var(--color-text-white);
  text-align: center;
  margin-top: 20px;
}

.header-background-image{
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover ;
  z-index: -1;
  background-color: var(--color-primary);
}
.header-image{
  background-color: var(--color-primary);
  height: 500px;
  width: 500px;
  border: 0px;
  object-fit: cover;
  border-radius: 25px;
}

.header-content{
  max-width: calc(100% - 400px); /* simulate margin without overflow */
  display: flex ;
  align-items: center;
  margin: 0 200px;
  height: 100%;
}
.header-right-side,
.header-left-side {
  flex: 1; /* Each side takes 50% of the space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* or center, depends on your design */
  padding: 20px;
}
.header-right-side {
 align-items: center;
  /* Align right side content to the right */
}
.header-description{
  margin-top: 10px;
  font-size: 30px;
  color: var(--color-text-white);
}
.header-description-small{
  width: 500px;
  margin-top: 50px;
  font-size: 20px;
  color: var(--color-text-white);
}
.header-button{
  margin-top: 50px;
  background-color: var(--color-primary);
  color: var(--color-text-white);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
}
.header-button:hover{
  background-color: transparent;
  color: var(--color-text);
  cursor: pointer;
}


/*main-----------------------------------*/
.main{
  display: flex;;
  height: 100vh;
  margin: 30px 200px;
}
.cards-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card-img-top{
  height: 18rem;
  object-fit: cover;
}
.card-btn{
  background-color: var(--color-primary);
  color: var(--color-text-white);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
}


/*Footer------------------------------------*/
.footer {
  background-color: #f8f9fa;
  color: #6c757d;
  font-family: Arial, sans-serif;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
}

.social-left {
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}

.footer-links .container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

.footer-links .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  flex: 1 1 220px;
  margin-bottom: 30px;
}

.footer-col h6 {
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-col p, .footer-col a {
  margin: 0 0 10px;
  color: #6c757d;
  text-decoration: none;
  display: block;
}

.footer-col a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

.footer-bottom a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}




/*------------------------------------------- Mobile -----------------------------------------*/
@media (max-width: 768px) {
  body {
    margin: 0 0 0 0;
  }
  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .navbar{
    margin:0 20px;
   }
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 70px; /* under navbar */
    right: 0;
    width: 100%;
    height: 100vh;
    box-shadow: -2px 0 5px rgba(0,0,0,0.05);
  }

  .nav-links.show {
    display: flex;
    z-index: 1000;
  }

  .logo {
    margin: 0 auto;
  }

  .nav-links li {
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
    height: 100px;
  }

  .nav-links li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .burger svg {
    width: 30px;
    height: 30px;
    color: var(--color-text);
  }
  .burger svg:hover {
    color: var(--color-primary);
  }
  .shop-cart svg{
    width: 30px;
    height: 30px;
    color: var(--color-text);
  }

  /*Header*/
  .header-left-side{
    margin:20px 0;
    flex: 0;
  }
  .header h1{
    font-size: 55px;
    margin-top: 10px;
  }
  .header-description{
    font-size: 30px;
    margin-top: 10px;
  }
  .header-description-small{
    width: auto;
    margin-top: 20px;
    font-size: 25px;
  }
  .header-content{
    max-width: none;
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
  }
  .header-image{
    background-color: transparent;
    width:350px;
    height: 350px;
  }

  /*Footer*/
  .social-media {
    flex-direction: column;
    text-align: center;
  }
  .footer-links .row {
    flex-direction: column;
    align-items: center;
  }
}
